/* Global Styles */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
}

h1, h2 {
  color: #444;
  text-align: center;
}

p {
  color: #666;
  margin: 10px 0;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

.mode-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
}

.mode-selection button {
  text-align: center;
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 columns */
  grid-template-rows: repeat(3, 1fr);     /* 3 rows */
  width: 90vmin;                          /* keep board square */
  height: 90vmin;
  margin: 2rem auto;
  gap: 1vmin;                             /* spacing between cards */
  opacity: 0;                             /* initially hidden */
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  aspect-ratio: 1 / 1; /* force square */
}

.card p {
  margin: 0;
}

/* Card hover effect */
.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}